
<%= form_for([@profile, @book]) do |form| %>
        <ul class="list-group">
  <li class="list-group-item active"><%= @trip.date %></li>
  <li class="list-group-item">From: <%= @trip.pickup_location %> </li>
  <li class="list-group-item">To: <%= @trip.destination %> </li>
  <li class="list-group-item">Price(per seat): €<%= @trip.price %> </li>
</ul>

  
 <div class="field">
    <%= form.label :'Number of seats' %>
    <%= form.text_field :seats , class: 'form-control' %>
 </div>
 <%= form.hidden_field :trip_id, :value => @trip.id %>





    <div class="actions">
     <%= form.submit 'Book a Trip', class: 'btn btn-success' %>
  </div>
<% end %>

